:root.theme-light {
  --page-bg-color: #fff1f7;
  --page-bg-image: url('../images/cover-image-light.png');
  --text-color: #353430;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --hero-color: #ffc2e6;
  --hero-shadow-color: #ff8dcb;
  --button-text-color: #353430;
  --button-hover-border-color: rgba(53, 52, 48, 0.4);
  --link-color: #353430;
  --link-shadow-color: #ff8dcb;
  --decorative-color: #353430;
  --border-color: #353430;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: #fff1f7;
    --page-bg-image: url('../images/cover-image-light.png');
    --text-color: #353430;
    --title-color: #353430;
    --accent-color: #ff8dcb;
    --hero-color: #ffc2e6;
    --hero-shadow-color: #ff8dcb;
    --button-text-color: #353430;
    --button-hover-border-color: rgba(53, 52, 48, 0.4);
    --link-color: #353430;
    --link-shadow-color: #ff8dcb;
    --decorative-color: #353430;
    --border-color: #353430;
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }
}
